<div class="container text-center">
  <form>
    <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" formControlName="model">
      <label ngbButtonLabel class="btn-primary" routerLink="/home">
        <input ngbButton type="radio"> Home
      </label>
      <label ngbButtonLabel class="btn-primary">
        <input ngbButton type="radio" routerLink="/input"> Input
      </label>
      <label ngbButtonLabel class="btn-primary">
        <input ngbButton type="radio"  routerLink="/output"> Output
      </label>
    </div>
  </form>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>